.detail{
  margin-bottom: 1.2rem;
  //图片展示
  .detailSlider{
    width: 100%;
    position: relative;
    img{
      width: 100%;
    }
    .dots{
      position: absolute;
      bottom: 0.3rem;
      left: 50%;
      transform: translateX(-50%);
      span{
        display: inline-block;
        margin: 0 0.05rem;
        width: 0.15rem;
        height: 0.15rem;
        background: #ffffff;
        &.active{
          background: black;
        }
      }
    }
  }
  .details-data{
    margin-top: -2px;
    padding: 0 0.35rem;
    background: #fff;
    .pro-title{
      h3{
        font-size: 24px;
        font-weight: 500;
      }
      p{
        font-size: 14px;
        height: 18px;
        line-height: 18px;
      }
    }
    .pro-price{
      padding: 0.2rem 0;
      height: 0.3rem;
      line-height: 0.3rem;
      font-size: 22px;
      color: #C69C6D;
    }
    .pro-action{
      a{
        display: inline-block;
        margin-right:0.1rem;
        border: 1px solid #D5BFA7;
        border-radius: 0.18rem;
        width: 0.9rem;
        text-align: center;
        height: 0.3rem;
        line-height: 0.3rem;
        font-size: 0.2rem;
        color: #D5BFA7;
      }
    }
    .pro-detail{

    }
  }
  .detailes-intro{
    margin:0.1rem 0 0.15rem;
    padding: 0.3rem 0.15rem;
    font-size:12px;
    background: #fff;
  }
  .details-img{
    margin-bottom: 0.55rem;
    width: 100%;
    overflow: hidden;
    img{
      width: 100%;
    }
    span{
      display: block;
      width: 100%;
      font-size: 12px;
      text-align: center;
      color: #999999;
    }
  }
  .recommend-list{
    .recommend-list-p{
      margin-bottom: 0.2rem;
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
    .listCommon{
      li{
        padding-bottom: 0.3rem;
        background: #ffffff;
        .list-item-cart{
          bottom: 0.26rem;
        }
      }
      .lastList{
        display: none;
      }
    }
  }
  .detailFooter{
    position: fixed;
    z-index: 101;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: #ffffff;
    div{
      float: left;
      width: 50%;
      height: 1rem;
      line-height: 1rem;
      font-size: 0.3rem;
      text-align: center;
    }
    .detailFooter-left{
      background: #fff;
      color: black;
    }
    .detailFooter-right{
      background: black;
      color: #ffffff;
    }
  }
}