@import "../community/reset";

.shopping_container{
  .shopping_title{
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
  .shopping_box_all{
    margin-top: 10px;
    .shopping_box_goods{
      background: #fff;
      margin-bottom: 15px;
      padding: 0 20px;
      padding-bottom: 15px;
      position: relative;
    .shopping_box_goods_{
      height: 120px;
      overflow: hidden;
      line-height: 15px;
      display: block;
      .shopping_box_goods_img{
        display: block;
        float: left;
        width: 109px;
        height: 120px;
      }

      .shopping_box_goods_name{
        padding-top: 20px;
        font-size: 15px;
        .shopping_box_name{
          font-size: 12px;
          color: #442818;
        }
      }
    }
    }
  }
}