@import "../community/reset";

.shopping_container {
  margin-top:.915rem;
  .shopping_title {
    height: 38px;
    line-height: 38px;
    text-align: center;
  }
  .shopping_box_all {
    margin-top: 10px;
    .shopping_box_goods {
      background: #fff;
      margin-bottom: 15px;
      padding: 0 20px;
      padding-bottom: 15px;
      position: relative;
      .shopping_box_goods_ {
        height: 120px;
        overflow: hidden;
        line-height: 15px;
        display: block;
        .shopping_box_goods_img {
          display: block;
          float: left;
          width: 109px;
          height: 120px;
        }

        .shopping_box_goods_name {
          padding-top: 20px;
          font-size: 15px;

          .shopping_box_en_name {
            font-size: 15px;
          }

          .shopping_box_name {
            display: block;
            font-size: 12px;
            color: #442818;
          }

          .shopping_box_size {
            display: block;
            font-size: 11px;
            color: #969696;
          }
        }
        .shopping_cart_price {
          display: block;
          font-size: 11px;
          color: #969696;
          margin-top: 12px;
        }
      }

      .shopping_box_number {
        background: #F7F7F7;
        position: absolute;
        bottom: 1rem;
        right: 0.5rem;
        display: block;
        float: left;
        height: 18px;
        width: 60px;
        font-size: 12px;
        line-height: 26px;
        text-align: center;
      .shopping_box_minus{
        background: #F0F0F0;
        display: inline-block;
        float: left;
        height: 18px;
        width: 18px;
        img{
          width: 12px;
          margin-bottom: 5px;
        }
      }
        .shopping_box_number{
          display: inline-block;
          float:left;
        }
        .shopping_box_add{
          background: #F0F0F0;
          display: inline-block;
          float:right;
          width: 18px;
          height: 18px;
          img{
            width: 12px;
          }
        }
      }
    }
  }
}