@import "../reset";

.user_container {
  width: 100%;
  height: 9.05rem;
  .mainBox {
    margin-top: 0;
    padding: 0 0.56rem;
    h4 {
      font-size: 0.3rem;
      color: #442818;
      text-align: center;
      margin-top: 0.32rem;
    }
    li {
      width: 100%;
      float: left;
      padding: 0.16rem 0;
      height: .47rem;
      line-height: 0.46rem;
      text-align: center;
      font-size: 0.28rem;
      color: #969696;
      &.form {
        border-bottom: 0.02rem solid #D5D5D5;
      }
      input {
        width: 100%;
        border: none;
        float: left;
        height: 0.46rem;
        line-height: 0.46rem;
        outline: none;
        font-size: 0.26rem;
        color: #442818;
      }
    }
    .imgTest {
      input {
        width: 50%;
        float: left;
      }

      .verification {
        display: block;
        width: 35%;
        margin-left: 3%;
        height: .36rem;
        float: left;
        margin-top: .09rem;
        border: 0.01rem solid #D5D5D5;
      }

      .refresh {
        display: block;
        width: 8%;
        float: left;
        height: .46rem;
        margin-left: 3%;
        text-align: center;
        cursor: pointer;

        img {
          border: none;
          vertical-align: middle;
          margin-top: .1rem;
          max-width: 85%;
          max-height: 56%;
        }
      }
    }

    .register {
      button {
        width: 100%;
        height: 0.46rem;
        background: #442818;
        color: #fff;
        font-size: 0.28rem;
        border: none;
      }

    }
  }
}